.tr td {
    padding: 20px 0 !important;
    border-bottom: 0.2px solid #a7a7a7;
}

.tdFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.tdFlex h6 {
    margin-bottom: 2px;
}

.onlineTrue {
    width: 12px;
    height: 12px;
    background: darkgreen;
    border-radius: 50%;
}

.onlineFalse {
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
}

.edite {
    font-size: 20px;
    width: 35%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edite span {
    cursor: pointer;
}

.delete {
    background: red;
    width: 40px;
    height: 35px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.delete:hover {
    background: #610b0b;
    width: 40px;
    height: 35px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.td1 {
    width: 25%;
    margin: 0 auto;
}

.td1Img {
    width: 80%;
    height: 5rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.td1Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.td1Img h5 {
    padding-left: 0.5rem;
}

.table {
    width: 100%;
}

tr {
    text-align: center;
}

.trOne td {
    font-weight: bold;
}

.tr td img {
    width: 5rem;
    object-fit: cover;
    border-radius: 5px;
    height: 4rem;
}

